* {
  margin: 0;
  padding: 0;
}

*::selection {
  color: white;
  background-color: orchid;
}

/*inicio navbar*/
.navbar {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.navbar .navbar-nav .nav-item {
  list-style-type: none;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: #CE93D8;
}

/*fin navbar*/
/*inicio jumbotron*/
.jumbotron {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  background-image: linear-gradient(to right top, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
  object-fit: scale-down;
}
.jumbotron img {
  object-fit: scale-down;
}

.slide {
  object-position: bottom;
  margin-top: 0;
}

.lineas {
  object-position: center;
}

.contenedor {
  object-position: center;
  margin-top: 0;
  object-position: top;
  width: auto;
  padding-top: 0;
  position: relative;
  justify-content: flex-start;
}

/*fin jumbotron*/
/*inicio argumentos*/
.titulo {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.descripcion {
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

section {
  padding: 25px;
}

.index {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: linear-gradient(to left bottom, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
}

article {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-line: underline;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-line: underline;
}

h3 {
  font-size: 32px;
  font-weight: bold;
  text-decoration-color: rgba(0, 0, 0, 0);
  text-decoration-line: underline;
}

.animation {
  animation-name: aparecer;
  animation-duration: 5s;
  animation-iteration-count: 2;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.animation2 {
  animation-name: agrandar;
  animation-duration: 5s;
  animation-iteration-count: 2;
}

@keyframes agrandar {
  0% {
    font-size: 14px;
  }
  50% {
    font-size: 25px;
  }
  100% {
    font-size: 32px;
  }
}
p {
  font-size: 25px;
}

.nosotros {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  background-image: linear-gradient(to left bottom, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
}

div {
  font-family: Georgia, "Times New Roman", Times, serif;
}

li {
  font-size: 25px;
  text-decoration-color: rgba(0, 0, 0, 0);
  list-style: disc;
  margin: 10px;
}

ul li {
  list-style: disc;
}

.qh {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  background-image: linear-gradient(to left bottom, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
}

.galeria {
  height: auto;
  width: 100%;
  margin-left: 5px;
}

.galeria .bucle-1 {
  animation-name: secuencia;
  animation-duration: 2s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-2 {
  animation-name: secuencia;
  animation-duration: 4s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-3 {
  animation-name: secuencia;
  animation-duration: 6s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-4 {
  animation-name: secuencia;
  animation-duration: 8s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-5 {
  animation-name: secuencia;
  animation-duration: 10s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-6 {
  animation-name: secuencia;
  animation-duration: 12s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-7 {
  animation-name: secuencia;
  animation-duration: 14s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.galeria .bucle-8 {
  animation-name: secuencia;
  animation-duration: 16s;
  animation-iteration-count: 2;
}
@keyframes secuencia {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.img1 {
  width: 250px;
  height: 250px;
}

.img2 {
  width: 250px;
  height: 250px;
}

.img3 {
  width: 250px;
  height: 250px;
}

.img4 {
  width: 250px;
  height: 250px;
}

.img5 {
  width: 250px;
  height: 250px;
}

.img6 {
  width: 250px;
  height: 250px;
}

.img7 {
  width: 250px;
  height: 250px;
}

.img8 {
  width: 250px;
  height: 250px;
}

.fotoyvideo {
  font-family: Georgia, "Times New Roman", Times, serif;
  background-image: linear-gradient(to left bottom, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
  width: 100%;
  height: auto;
}

/*fin argumentos*/
/*inicio media queries*/
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 300px);
    grid-gap: 10px;
    padding: 5px;
  }

  .img1 {
    width: 250px;
    height: 250px;
  }

  .img2 {
    width: 250px;
    height: 250px;
  }

  .img3 {
    width: 250px;
    height: 250px;
  }

  .img4 {
    width: 250px;
    height: 250px;
  }

  .img5 {
    width: 250px;
    height: 250px;
  }

  .img6 {
    width: 250px;
    height: 250px;
  }

  .img7 {
    width: 250px;
    height: 250px;
  }

  .img8 {
    width: 250px;
    height: 250px;
  }
}
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-gap: 10px;
    padding: 5px;
  }

  .img1 {
    width: 150px;
    height: 150px;
  }

  .img2 {
    width: 150px;
    height: 150px;
  }

  .img3 {
    width: 150px;
    height: 150px;
  }

  .img4 {
    width: 150px;
    height: 150px;
  }

  .img5 {
    width: 150px;
    height: 150px;
  }

  .img6 {
    width: 150px;
    height: 150px;
  }

  .img7 {
    width: 150px;
    height: 150px;
  }

  .img8 {
    width: 150px;
    height: 150px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 767px) {
  .galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 200px);
    grid-gap: 10px;
    padding: 5px;
  }

  .img1 {
    width: 200px;
    height: 200px;
  }

  .img2 {
    width: 200px;
    height: 200px;
  }

  .img3 {
    width: 200px;
    height: 200px;
  }

  .img4 {
    width: 200px;
    height: 200px;
  }

  .img5 {
    width: 200px;
    height: 200px;
  }

  .img6 {
    width: 200px;
    height: 200px;
  }

  .img7 {
    width: 200px;
    height: 200px;
  }

  .img8 {
    width: 200px;
    height: 200px;
  }
}
@media only screen and (min-width: 768px) {
  .galeria {
    display: grid;
    grid-template-areas: "item1 item2 item3 item4" "item1 item2 item3 item4" "item1 item2 item3 item4" "item5 item6 item7 item8" "item5 item6 item7 item8" "item5 item6 item7 item8";
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
    padding: 5px;
    margin-top: 20px;
  }

  .img1 {
    grid-area: item1;
  }

  .img2 {
    grid-area: item2;
  }

  .img3 {
    grid-area: item3;
  }

  .img4 {
    grid-area: item4;
  }

  .img5 {
    grid-area: item5;
  }

  .img6 {
    grid-area: item6;
  }

  .img7 {
    grid-area: item7;
  }

  .img8 {
    grid-area: item8;
  }
}
/*fin media queries*/
/*inicio formularios*/
form {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  background-image: linear-gradient(to left bottom, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
}

.contacto {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  background-image: linear-gradient(to right top, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
}

.btn {
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: black;
  color: #f2fbfa;
}

.btn:hover {
  color: #CE93D8;
}

.presupuesto {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
  background-image: linear-gradient(to right top, #eedce7, #eecee5, #ecc0e5, #e7b3e7, #dfa6ea, #cc97d9, #b988c9, #a779b9, #886492, #69516e, #4b3e4c, #2d2c2d);
}

label {
  font-weight: bold;
}

.cp {
  font-size: 20px;
}

.form-check-label {
  font-weight: normal;
}

.input {
  font-size: 18px;
}

.option {
  font-size: 18px;
}

.CPA {
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.CPA:hover {
  color: #f2fbfa;
}

.CPA:active {
  color: #CE93D8;
}

.textarea {
  font-size: 20px;
}

/*fin formularios*/

/*# sourceMappingURL=estilo.css.map */
